<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles/general.css" />
    <link rel="stylesheet" href="../../public/styles/delete.css" />
  </head>
  <body>
    <%- include('navbar') %>

    <main>
      <div>
        <img src="../../public/images/<%=image%>" alt="image" />
      </div>

      <form action="/<%=table%>/<%=name%>/delete" method="post">
        <h2>Are sure you want to delete this <%=elementTitle%> ?</h2>

        <div class="inputs">
          <div>
            <input type="radio" id="yes" name="choice" value="yes" />
            <label for="yes">Yes</label>
          </div>

          <div>
            <input type="radio" id="no" name="choice" value="no" />
            <label for="no">No</label>
          </div>

          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>
