<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../public/styles/general.css" />
    <link rel="stylesheet" href="../public/styles/item.css" />
  </head>
  <body>
    <%- include('navbar') %>

    <main>
      <div class="cover-image">
        <img src="../public/images/<%=coverImage%>" alt="cover image" />
      </div>

      <div class="item-data">
        <div class="update-item">
          <a href="/items/<%=itemName%>/update" class="update">
            <i class="fa-solid fa-pen"></i> update
          </a>

          <a href="#"> <i class="fa-solid fa-trash-can"></i> delete</a>
        </div>

        <div>
          <p class="name"><%=itemName%></p>
          <p><%=description%></p>
        </div>

        <div class="genres">
          <% genresArray.forEach((genre) => { %>
          <a href="/categories/<%=genre%>">
            <div>
              <p><%=genre%></p>
            </div>
          </a>
          <% }) %>
        </div>

        <div class="price">
          <p><span>Price:</span> $<%= price %></p>
        </div>

        <div>
          <p><span>Rating:</span> <%= rating %></p>
        </div>

        <div>
          <p><span>Publisher:</span> <%= publisher %></p>
        </div>

        <div>
          <p><span>Released:</span> <%= release_date %></p>
        </div>

        <div>
          <p><span>Units available in stock:</span> <%= units %></p>
        </div>
      </div>
    </main>
  </body>
</html>
