<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/general.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/newItem.css"
    />
  </head>
  <body>
    <%- include('navbar') %>

    <main>
      <h2 class="form-title">Create new item</h2>

      <form action="/items/create" method="post" enctype="multipart/form-data">
        <div>
          <label for="name">Name:</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Grand Theft Auto, etc."
            required
          />
        </div>

        <div>
          <label for="about">Description:</label>
          <textarea name="about" id="about" required></textarea>
        </div>

        <div>
          <p>Categories:</p>
          <div class="categories">
            <% categories.forEach(({name}) => { %>
            <div>
              <input
                type="checkbox"
                id="<%= name %>"
                name="genres"
                value="<%= name %>"
              />
              <label for="<%= name %>"><%= name %></label>
            </div>
            <% }) %>
          </div>
        </div>

        <div>
          <label for="price">Price (in USD):</label>
          <input type="number" step="0.01" name="price" id="price" required />
        </div>

        <div>
          <label for="units">Number in stock:</label>
          <input type="number" name="units" id="units" required />
        </div>

        <div>
          <label for="logo">Title logo:</label>
          <input
            type="file"
            name="logo"
            id="logo"
            accept="image/jpeg,image/png"
            required
          />
        </div>

        <div>
          <label for="image">Cover image:</label>
          <input
            type="file"
            name="cover"
            id="image"
            accept="image/jpeg,image/png"
            required
          />
        </div>

        <div>
          <label for="publisher">Publisher:</label>
          <input
            type="text"
            name="publisher"
            id="publisher"
            placeholder="Riot games, etc."
            required
          />
        </div>

        <div>
          <label for="release_date">Release date:</label>
          <input type="date" name="release_date" id="release_date" required />
        </div>

        <div>
          <label for="rating">Rating (out of 5):</label>
          <input
            type="number"
            step="0.01"
            min="0"
            max="5"
            name="rating"
            id="rating"
            required
          />
        </div>

        <button type="submit">Submit</button>
      </form>
    </main>

    <footer>
      &copy; <span>2025 Kabera Nshuti Samuel</span>
      <a href="https://github.com/KaberaSamuel/game-inventory" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </footer>
  </body>
</html>
